.cart_total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart_total_title {
    margin: 0;
}

.place_order_title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.cart_total_details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.place_order_details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.place_order_details p {
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
}

.cart_total hr {
    margin: 10px 0;
}

.cart_total button {
    border: none;
    color: white;
    background-color: #045291;
    width: max(15vw, 200px);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-top: 1.5rem;
}