.page_container {
    padding: 1rem;
    font-family: Mulish, sans-serif;
}

.category_products_inner_container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1rem;
    /*border: #48D461 1px solid;*/
}

.filter_menu {
    overflow-y: scroll;
    padding: 0.5rem;
    width: 100%;
    background-color: #ffffff;
}

.filter_menu::-webkit-scrollbar {
    display: none;
}

.filter_menu h3 {
    padding-bottom: 0.25rem;
    border-bottom-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.filter_menu hr {
    margin: -0.5rem 0 0.5rem 0;
    height: 2px;
    width: 11rem;
    background-color: #e2e2e2;
    border: none;
}

.filter_menu form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.filter_menu_label {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.products_container {
    margin: 0 2rem;

}

.search_results_title {
    margin: 0.75rem 0 1.5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.filtered_products_container {
    overflow-y: scroll;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.filtered_products_container::-webkit-scrollbar {
    display: none;
}