.place_order_page {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 5rem;
    padding: 0 5rem;
}

.place_order_left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place_order_left .title {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 50px 0;
}

.place_order_left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: #c5c5c5 1px solid;
    border-radius: 4px;
    outline-color: dodgerblue;
    box-sizing: border-box;
}

.place_order_left .multi_fields {
    display: flex;
    gap: 10px;
}

.place_order_right {
    width: 100%;
    max-width: max(40%, 500px);
}
