.place_order_page {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 4rem;
    padding: 0 6rem;
    font-family: Mulish, sans-serif;
}

.place_order_left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place_order_right {
    width: 100%;
    max-width: max(40%, 500px);
}

.place_order_right .title {
    font-size: 2rem;
    font-weight: 600;
    font-family: Mulish, sans-serif;
    letter-spacing: 0.03rem;
    margin: 0 0 3rem 0;
}