.search_product_container {
    margin: auto;
    padding: 1rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: Mulish, sans-serif;
}

.loading {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
}

.search_result_title {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 900;
    letter-spacing: 0.03rem;
}

.not_found_message {
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    background-color: #ffffff;
}

.search_products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4rem;
}