.user_panel_page {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.user_panel_sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 25vw;
    padding: 0;
    margin-bottom: -6rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 6px 26px 0;
    z-index: 9;
}

.user_panel_sidebar > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    color: var(--login-text);
    font-family: Mulish, sans-serif;
    font-weight: 600;
    padding: 1rem 0;
    letter-spacing: 0.02rem;
}

.navigation_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation_option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    padding: 0 1.25rem;
    list-style-type: none;
    cursor: pointer;
    width: 100%;
    height: 3.25rem;
    box-sizing: border-box;
    position: relative;
}

.navigation_option > a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--login-text);
    font-family: Mulish, sans-serif;
    letter-spacing: 0.05rem;
    opacity: 0.9;
}

.navigation_option > svg {
    stroke: var(--login-text);
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 0.25rem;
    opacity: 0.6;
}

.navigation_option:hover {
    background-color: rgba(229, 236, 248, 0.5);
}

.navigation_option:hover > a {
    opacity: 1;
    font-weight: 600;
    transform: scale(1.1);
    margin-left: 0.5rem;
    transition:  0.1s;
}

.navigation_option:hover > svg {
    opacity: 1;
}

.horizontal_line {
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
    opacity: 0.15;
    margin: 0;
}

.user_panel_content {
    width: 100%;
    height: 100%;
}

.activeLink {
    background-color: rgba(229, 236, 248, 0.5);
}

.activeLink a {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 1;
}

.activeLink svg {
    stroke: var(--primary);
    opacity: 1;
}

.activeStyle {
    display: none;
    position: absolute;
    height: 100%;
    left: 0;
    width: 0.4rem;
    background-color: var(--primary);
}

.activeLink > .activeStyle {
    display: block;
}